html, body{
    margin: 0;
    height: 100%;
}

input{
    margin-left: 0;
    border-left: 0;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list_component{
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 700px;
    width: 500px;
    background-color: hsla(0, 0%, 50%, 0.5);
    border-radius: 20px;
    box-shadow: 5px 5px;
}

#todo-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsla(0, 0%, 85%, 1);
    width: 80%;
    border: 1px solid black;
    text-shadow: 1px 2px white;
}

#hide-button{
    align-self: center;
    margin-top:auto;
    font-size: 1.5vw;
    margin-bottom: 50px;
    box-shadow: -2px -2px black;
}

#todo-count{
    align-self: flex-start;
    margin: 0 0 20px 20px;
    color: white;
    text-shadow: 2px 2px black;
}

#todo-input-label{
    color: white;
    text-shadow: 2px 2px black;
    margin-right: 10px;
}

#todo-input{
    font-size: 20px;
    font-family: serif;
    text-align: initial;
    padding-left: 10px;
}

#todo-input:focus{
    outline: none;
}

#hide-button{
    background-color: hsla(0, 0%, 95%, 1);
    text-shadow: 1px 2px white;
    font-family: serif;
}

#hide-button:hover{
    background-color: hsla(0, 0%, 35%, 1);
    color: white;
    text-shadow: 2px 2px black;
}

#hide-button:focus{
    outline: none;
}

.contentRow{
    display:flex;
    flex-direction: row;
    text-align: left;
}

.todoRow{
    border-bottom: 1px solid black;
}

.todoRow:hover{
    background-color: hsla(0, 0%, 35%, 1);
    color: white;
    text-shadow: 2px 2px black;
}

